/**
 * Colors
 */

/* stylelint-disable no-indistinguishable-colors */

/* to pass linting against --color-thimphu --color-berlin */

/* stylelint-enable no-indistinguishable-colors */

/* stylelint-disable custom-property-pattern, number-max-precision, value-keyword-case */

/* */

/* stylelint-disable value-keyword-case */

/* too many components refer to EconSans */

@font-face {
  font-family: EconSans;
  font-weight: 300;
  src:
    /* Super Modern Browsers */
    url('/assets/ecosans-lig.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('/assets/ecosans-lig.woff') format('woff');
}

@font-face {
  font-family: EconSans;
  font-style: normal;
  src:
    /* Super Modern Browsers */
    url('/assets/ecosans-reg.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('/assets/ecosans-reg.woff') format('woff');
}

@font-face {
  font-family: EconSans;
  font-weight: 700;
  src:
    /* Super Modern Browsers */
    url('/assets/ecosans-bol.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('/assets/ecosans-bol.woff') format('woff');
}

@font-face {
  font-family: EconSans;
  font-style: italic;
  src:
    /* Super Modern Browsers */
    url('/assets/ecosans-ita.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('/assets/ecosans-ita.woff') format('woff');
}

@font-face {
  font-family: MiloSerifPro;
  font-style: normal;
  src:
    /* Super Modern Browsers */
    url('/assets/ecoserif-reg.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('/assets/ecoserif-reg.woff') format('woff');
}

@font-face {
  font-family: MiloSerifPro;
  font-style: italic;
  src:
    /* Super Modern Browsers */
    url('/assets/ecoserif-ita.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('/assets/ecoserif-ita.woff') format('woff');
}

@font-face {
  font-family: MiloSerifPro;
  font-weight: 500;
  src:
    /* Super Modern Browsers */
    url('/assets/ecoserif-med.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('/assets/ecoserif-med.woff') format('woff');
}

/**
 * Modular scale for type.
 */

:root {
  /** Modular scale **/
  /* http://www.modularscale.com/?20&px&1.125&web&text */  /* Major second */

  /** Line heights **/

  /* Font: Halifax Regular */

  /* Font: Halifax Bold */

  /* Font: Halifax Light */

  /* Font: Ff Milo Serif Pro Med Italic */

  /* Font: Ff Milo Serif Pro */

  /* Font: FF Milo Serif OT Medium */

  /** Letter spacing **/
  /* Font: Halifax Regular */

  /* Font: Halifax Bold */

  /* Font: Halifax Light */

  /* Font: Ff Milo Serif Pro Med Italic */

  /* Font: Ff Milo Serif Pro */

  /* Font: FF Milo Serif OT Medium */
}

/* stylelint-disable selector-no-type */

/* setting base font size on html - no default selector */

html {
  font-size: 18px;
  line-height: 1.35;
}

@media screen and (min-width: 500px) {
  html {
    font-size: 20px;
  }
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.google-search {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  color: #fff;
  background: #fff;
  border-top: 1px solid #f2f2f2;
}

.google-search .gsc-search-box {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* stylelint-disable selector-no-type, selector-no-qualifying-type */

/* overriding google */

.google-search input.gsc-input {
  padding: 0;
  outline: none;
  color: #383e42;
  font-size: 2em;
  border: none;
}

td.gsc-input {
  background: none;
}

/* stylelint-enable selector-no-type, selector-no-qualifying-type */

.gsc-input {
  width: 100%;
}

.gsc-search-button,
.gsc-clear-button {
  display: none;
}

.search__example-container {
  position: relative;
  width: 100%;
  height: 64px;
  -webkit-font-smoothing: antialiased;
  font-family: 'EconSans', Tahoma, sans-serif;
  background: #383e42;
}

/* stylelint-disable selector-no-id, selector-max-specificity */

/* */

#___gcse_0 {
  width: 500px;
}

/* stylelint-enable */
